
<div class="frontpage-inner-wrapper">

<ul class="bullets">
	<li class="bullet">
		<img class="bullet-icon bullet-icon-1" src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
		" alt="" />
		<div class="bullet-content">
			<h2>Simple</h2>
			<p>Intuitive configuration suitable for non-programmers, using the WordPress-standard Customizer theme customization framework and featuring three pre-set, highly-responsive layouts.</p>
		</div>
	</li>  
  <li class="bullet">
    <img class="bullet-icon bullet-icon-2" src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="" />
    <div class="bullet-content">
      <h2>Beautiful</h2>
			<p>Strong typography, with header and body fonts carefully selected for beauty and readability. Multiple pre-programmed color palettes -- all you have to do is click an button to select.</p>
    </div>
  </li>
  <li class="bullet">
    <img class="bullet-icon bullet-icon-3" src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="" />
    <div class="bullet-content">
      <h2>Supported</h2>
			<p>Full documentation, both web-based and pdf booklet. Outstanding <a href="https://palmettothemes.freshdesk.com/helpdesk">support</a>, including live chat.</p>
    </div>
  </li> 
</ul>

</div>
