
<div class="frontpage-inner-wrapper">

<ul class="bullets">
	<li class="bullet">
		<img class="bullet-icon bullet-icon-1" src="{{ site.url }}/assets/img/placeholders/placeholder_logo_2.png" alt="" />
		<div class="bullet-content">
			<h2>Save Money</h2>
			<p>Stop spending hours each day typing in data and clicking buttons when you've got a business to run and customers to serve.</p>
		</div>
	</li>  
  <li class="bullet">
		<img class="bullet-icon bullet-icon-1" src="{{ site.url }}/assets/img/placeholders/placeholder_logo_3.png" alt="" />
    <div class="bullet-content">
      <h2>Leverage Data</h2>
			<p>Once you've automated your daily tasks, you can start collecting and analyzing data to understand your customer's wants and needs, and your business's strengths and weaknesses.</p>
    </div>
  </li>
  <li class="bullet">
		<img class="bullet-icon bullet-icon-1" src="{{ site.url }}/assets/img/placeholders/placeholder_logo_4.png" alt="" />
    <div class="bullet-content">
      <h2>Happy Customers</h2>
			<p>Serve your customers better with quick, efficient, automated processes instead of making them wait for laborious, drawn-out results.</p>
    </div>
  </li> 
</ul>

</div>
