
<div class="frontpage-inner-wrapper">

	<div class="gumroad-header-container">
		<h2>Purchase Now</h2>
		<p class="gumroad-description">
		Purchase Palmetto Theme now by clicking on the button below. The cost for Palmetto Theme is only $50, including support.
		</p>
	</div>

	<script src="https://gumroad.com/js/gumroad.js"></script>
	<a style="background-image: none !important;" class="gumroad-button" href="https://gum.co/palmetto?wanted=true" target="_blank" data-gumroad-single-product="true">Buy Palmetto Theme</a>

</div>
