
<div class="frontpage-inner-wrapper">

	<h2>Go Automated is an affordable consultancy that helps small business work with greater ease and efficiency through custom software solutions.</h2>
	<p>In addition to its standard blog features, and multi-column page templates, Palmetto Theme also exposes the ability to create beautiful, functional single-page apps (SPAs) through WordPress’s customizer interface – meaning that these features are available to non-technical users who are more comfortable working through a GUI.</p>

</div>
