
<div class="frontpage-inner-wrapper">

<img src="{{ site.url | append: site.baseurl }}/assets/images/themes/palmetto/screenshot.png" />

<p>Palmetto Theme is an original theme with a focus on ease-of-use for non-programmers, performance, and security.</p>

<p>In addition to its standard blog features, and multi-column page templates, Palmetto Theme also exposes the ability to create beautiful, functional single-page apps (SPAs) through WordPress’s customizer interface – meaning that these features are available to non-technical users who are more comfortable working through a GUI.</p>

</div>
