
.navigation-primary {
	width: 100%;
	background-color: $white;
	border-bottom: 1px solid $medium-gray;
	font-family: $heading-font-family;
}

.navigation-primary-inner-wrapper {
	@extend %outer-container;
}

.social-media-menu {
	@extend %vertical-align;
	font-size: 0;
	list-style-type: none;
	float: right;
	li {
		display: inline-block;
		width: 26px;
		text-align: center;
		font-size: 16px * 1.4;
    &:hover a {
			cursor: pointer;
      color: transparentize($navigation-color, 0);
    }
	}
	li a {
		text-decoration: none;
	}
	li a > span {
		display: none;
	}
  li a::before {
    font-family: "Ionicons";
  }
  // Color codes and technique:
  // http://justintadlock.com/archives/2013/08/14/social-nav-menus-part-2
  li a[href*="wordpress.org"]::before,
  li a[href*="wordpress.com"]::before {
    content: $ionicon-var-social-wordpress;
  }
  li a[href*="twitter.com"]::before {
    content: $ionicon-var-social-twitter;
  }
  li a[href*="goautomated.biz"]::before {
    content: $ionicon-var-social-rss;
  }
  li a[href*="facebook.com"]::before {
    content: $ionicon-var-social-facebook;
  }
  li a[href*="github.com"]::before {
    content: $ionicon-var-social-github;
  }
}
