

.contact form {
	input[type=text], input[type=email], textarea {
		border-color: $medium-gray;
	}
	input[type=submit] {
		@extend %horizontal-align;
	}
}

.contact .inner-wrapper p {
	@include span-columns(8 of 12);
	@include shift(2 of 12);
}


.recaptcha {
	margin-bottom: 14px;
}

.g-recaptcha {
	width: 100%;
}

#contactForm {
	@include outer-container;
	.row, .contact-submit-button {
		@include span-columns(8 of 12);
		@include shift(2 of 12);
	}
}

#onsubmitMessage {
	margin-top: 15px;
}

.contact-submit-button .icon {
	margin-left: 6px;
}

.ion-loading-a {
  @extend .ion;
  @extend .ion-spin;
}

.ion-loading-a {
  -webkit-animation-timing-function: steps(8, start);
  -moz-animation-timing-function: steps(8, start);
  animation-timing-function: steps(8, start);
}

.ion-loading-a:before { 
	font-family: 'Ionicons';
	content: $ionicon-var-load-a;
}
