
@import '../includes/sections/header';
@import '../includes/sections/intro';
@import '../includes/sections/bullets';
@import '../includes/sections/cta';
@import '../includes/sections/features';
@import '../includes/sections/newsletter';

%frontpage-heading {
	font-weight: bold;
}

#mc_embed_signup{
	clear:left;
}

main.default {
	section {
		margin-bottom: 80px;
	}
	hr:after {
		@include header-separator(2px);
	}
}

.section-features, .section-newsletter {
	.frontpage-inner-wrapper {
		header {
			text-align: center;
		}
		h1 {
			display: inline-block;
			border-bottom: 1px solid $black;
			padding-bottom: 3px;
		}
	}
}

.section-features, .section-html5 {
	li:before {    
		font-family: 'Ionicons';
		content: $ionicon-var-checkmark-circled;
		margin:0 8px 0 0;
	}
}

