
@import '../includes/sections/header';
@import '../includes/sections/intro';
@import '../includes/sections/bullets';
@import '../includes/sections/cta';
@import '../includes/sections/features';
@import '../includes/sections/newsletter';

main.default {
	section {
		margin-bottom: 80px;
	}
	hr:after {
		@include header-separator(2px);
	}
}

.section-features, .section-newsletter {
	.frontpage-inner-wrapper {
		header {
			text-align: center;
		}
		h1 {
			display: inline-block;
			border-bottom: 1px solid $black;
			padding-bottom: 3px;
		}
	}
}

@include media(max-width $medium-screen - 1) {
	main.default {
		section {
			margin-bottom: 40px;
		}
	}
}
