
.section-cta, .cta-description {
	color: $white;
}

.section-cta {
	.frontpage-inner-wrapper {
		display: flex;
	}
	div {
		margin: 0;
	}
	h2 {
		font-size: 200%;
		margin: 0 0 0.1em 0;
	}
	background-color: $brand;
	padding: 1em 0;
	.cta-container {
		flex: 2;

	}
	button {
		flex: 1;
		margin: auto;
		height: 42px;
		border: 1px solid $white;
		a {
			display: block;
			top: 0;
			left: 0;
			color: $white;
			height: 100%;
			width: 100%;
		}
	}
}

@include media(max-width $medium-screen - 1) {
	.section-cta {
		.cta-container {
			margin-right: 12px;
		}
		.cta-description {
			text-align: justify;
		}
		h2 {
			font-size: 140%;
		}
		button {
			padding: 0.75em 0;
		}
	}
}
