
.section-header {
	background-image: url('../img/backgrounds/retina/blueprint.jpg');
	min-height: calc(100vh - 60px);
	color: $white;
	p {
		color: $white;
	}
	.frontpage-inner-wrapper {
	}
	header {
		margin-top: 100px;
		text-align: center;
		h1 {
			font-size: 500%;
		}
		p, span {
			font-size: 200%;
		}
	}
	.learn-more {
		display: inline-block;
		margin: 40px 0;
		border: 2px solid $white;
		padding: 10px;
		cursor: pointer;
	}
}
