
.section-header {
	background-image: url('../../assets/img/backgrounds/retina/blueprint.jpg');
	// min-height: calc(100vh - 60px);
	color: $white;
	p {
		color: $white;
	}
	.frontpage-inner-wrapper {
	}
	header {
		margin: 100px 0;
		text-align: center;
		h1 {
			font-size: 500%;
		}
		p, span {
			font-size: 200%;
		}
	}
	.learn-more {
		display: none;
		// display: inline-block;
		// margin: 40px 0;
		// border: 2px solid $white;
		// padding: 10px;
		// cursor: pointer;
	}
}

@include media(max-width $medium-screen - 1) {
	.section-header {
		header {
			margin: 40px 0;
			text-align: center;
			h1 {
				font-size: 220%;
			}
			p, span {
				font-size: 140%;
			}
		}
	}
}
