

.section-newsletter {
	.frontpage-inner-wrapper {
		text-align: center;
	}
	p {
		display: inline-block;
		width: 80%;
	}
	#mc_embed_signup {
		display: inline-block;
		width: 40%;
		input[type=submit] {
			width: 100%;
		}
	}
}
