---
layout: default
title: Palmetto Theme
description: "The eponymous theme that started it all"
image: "assets/images/themes/palmetto/screenshot.png"
---

<section class="section-bullets">
{% include sections/palmetto/bullets.html %}
</section>

<section class="section-intro">
{% include sections/palmetto/intro.html %}
</section>

<section class="section-cta">
{% include sections/palmetto/cta.html %}
</section>

<section class="section-features">
{% include sections/palmetto/features.html %}
</section>

<section class="section-layouts">
{% include sections/palmetto/layouts.html %}
</section>

<section class="section-html5">
{% include sections/palmetto/html5.html %}
</section>

<section class="section-responsive">
{% include sections/palmetto/responsive.html %}
</section>

<section class="section-support">
{% include sections/palmetto/support.html %}
</section>

<section class="section-gumroad">
{% include sections/palmetto/gumroad.html %}
</section>
