
body {
	background-color: $light-gray;
}

.inner-wrapper {
	margin-bottom: 2em;
}

main.default {
	min-height: 50vh;
	overflow: auto;
	// @include clearfix();
	.inner-wrapper, .frontpage-inner-wrapper {
		@extend %outer-container;
	}
	.inner-wrapper header {
		$header-margins: 0.5em;
		text-align: center;
		margin-bottom: 26px;
		p {
			color: $medium-gray;
		}
	}
	h1 {
		text-align: center;
		margin: 0;
	}
	img {
		@extend %horizontal-align;
	}
}

main.default section {
	float: left;
	width: 100%;
}
